#quiz
  .flip_message
    -if @mobile
      Click On Card to Flip
    -else
      Hover Over Card to Flip
  #left_arrow.arrow.float
    =image_tag "arrow-blue-rounded-left.jpg", :width => 100, :height => 100
  #quiz_card.float
    #quiz_card_content
  #right_arrow.arrow.float
    =image_tag "arrow-blue-rounded-right.jpg", :width => 100, :height => 100
  .clear
  #sound

- content_for :js do
  review = new Review(#{@deck_data.html_safe}, "#{@mobile}");
