body {
  background-color: #ecde6a; }

h1 {
  padding: 0px;
  margin: 0; }

#main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 15px;
  background-color: white; }

.deck-card-table {
  border-collapse: collapse;
  margin-bottom: 10px; }

.deck-card-table td {
  border-style: solid;
  border-width: 1px;
  padding: 5px; }

.inline {
  display: inline; }

.card {
  width: 800px;
  margin-left: 65px;
  font-size: 40px;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  display: table; }
  .card:hover {
    background-color: #e0f8f7; }

.card_value {
  height: 200px;
  text-align: center;
  margin: 10px;
  display: table-cell;
  vertical-align: middle; }

.solid-border {
  border-style: solid !important; }

.dashed-border {
  border-style: dashed !important; }
