body {
  background-color: #ecde6a; }

#logo {
  width: 930px;
  font-size: 40px;
  background-color: #a89815;
  line-height: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

h1 {
  padding: 0px;
  margin: 0; }

#main {
  width: 930px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: white; }

.deck-card-table {
  border-collapse: collapse;
  margin-bottom: 10px; }

.deck-card-table td {
  border-style: solid;
  border-width: 1px;
  padding: 5px; }

.inline {
  display: inline; }

.card {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  display: table; }
  .card:hover {
    background-color: #e0f8f7; }

.card_value {
  height: 200px;
  text-align: center;
  margin: 10px;
  display: table-cell;
  vertical-align: middle; }

.solid-border {
  border-style: solid !important; }

.dashed-border {
  border-style: dashed !important; }

#reveal_card_link, #correct_links_area {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  text-align: center;
  line-height: 100px; }

#reveal_card_link {
  width: 200px; }

#correct_links_area {
  width: 404px; }

.message {
  line-height: 30px;
  height: 30px; }

.big_button {
  float: left;
  width: 200px;
  height: 100px;
  border: 1px solid; }
  .big_button:hover {
    background-color: #e0f8f7; }

#quiz_status {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 100px; }
  #quiz_status .status_box {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 40px; }
  #quiz_status p {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center; }
  #quiz_status div {
    width: 131px;
    float: left; }
  #quiz_status .extra_wide {
    width: 262px; }

#answered_correctly_count {
  background-color: red;
  color: white; }

#answered_total_count {
  background-color: white;
  color: black; }

#percentage_correct {
  background-color: blue;
  color: white;
  width: 100% !important; }

#total_cards_in_deck {
  background-color: white;
  color: black; }

#cards_remaining {
  background-color: red;
  color: white; }

#processing {
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 50px; }

#flash-notice, #flash-error {
  width: 940px;
  min-height: 50px;
  padding: 10px;
  border: 1px black dashed;
  margin-bottom: 20px; }

#flash-notice {
  background-color: #e0f8f7; }

#flash-error {
  background-color: #fe2e2e; }
