body {
  background-color: #ecde6a; }

#logo {
  width: 930px;
  font-size: 40px;
  background-color: #908214;
  line-height: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

h1 {
  padding: 0px;
  margin: 0; }

#main {
  width: 930px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: white; }

.deck-card-table {
  border-collapse: collapse;
  margin-bottom: 10px; }

.deck-card-table td {
  border-style: solid;
  border-width: 1px;
  padding: 5px; }

.inline {
  display: inline; }

#big_card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
  border: solid 1px;
  width: 650px;
  font-size: 40px;
  border: 1px solid black;
  display: table; }
  #big_card:hover {
    background-color: #e0f8f7; }
  #big_card #big_card_value {
    height: 200px;
    text-align: center;
    margin: 10px;
    display: table-cell;
    vertical-align: middle; }

.solid-border {
  border-style: solid !important; }

.dashed-border {
  border-style: dashed !important; }

#reveal_card_link, #correct_links_area {
  margin-left: auto;
  margin-right: auto;
  height: 130px;
  text-align: center;
  line-height: 100px; }

#reveal_card_link {
  width: 200px; }

#correct_links_area {
  width: 404px; }

.message {
  line-height: 30px;
  height: 30px; }

.big_button {
  float: left;
  width: 200px;
  height: 100px;
  border: 1px solid; }
  .big_button:hover {
    background-color: #e0f8f7; }

#processing {
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 50px; }

#flash-notice, #flash-error {
  width: 100%;
  min-height: 50px;
  border: 1px black dashed;
  margin-bottom: 20px; }
  #flash-notice ul, #flash-error ul {
    margin-left: 10px;
    margin-right: 10px; }

#flash-notice {
  background-color: #e0f8f7; }

#flash-error {
  background-color: #fe2e2e; }

#profile h1 {
  margin-top: 10px;
  margin-bottom: 10px; }
#profile table.quizzes {
  border-collapse: collapse; }
  #profile table.quizzes td {
    border-width: 1px;
    border-style: solid;
    padding: 5px; }

#site_nav {
  text-align: center; }

.float {
  float: left; }

.clear {
  clear: both; }

#quiz {
  margin-top: 20px;
  min-height: 600px; }
  #quiz .flip_message {
    font-size: 12px;
    text-align: center;
    font-style: italic;
    margin-bottom: 5px; }
  #quiz #quiz_card {
    height: 300px;
    width: 700px;
    border: 1px solid black;
    margin-left: 14px;
    margin-right: 14px; }
  #quiz #quiz_card_content {
    line-height: 300px;
    padding: 0;
    text-align: center;
    font-size: 40px; }
  #quiz .arrow {
    width: 100px;
    height: 100px; }
  #quiz .correct_links {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 310px;
    height: 75px; }
    #quiz .correct_links #correct_link {
      background-image: url("/images/correct.png");
      margin-right: 5px; }
      #quiz .correct_links #correct_link:hover, #quiz .correct_links #correct_link.selected {
        background-image: url("/images/correct_hover.png"); }
      #quiz .correct_links #correct_link.selected {
        background-image: url("/images/correct_selected.png"); }
    #quiz .correct_links #incorrect_link {
      background-image: url("/images/incorrect.png");
      margin-left: 5px; }
      #quiz .correct_links #incorrect_link:hover {
        background-image: url("/images/incorrect_hover.png"); }
      #quiz .correct_links #incorrect_link.selected {
        background-image: url("/images/incorrect_selected.png"); }
    #quiz .correct_links div {
      float: left;
      height: 75px;
      width: 150px;
      font-size: 20px;
      line-height: 75px;
      text-align: center; }
  #quiz #sound {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 400px; }

.index_title {
  text-align: center;
  margin-top: 10px; }

#decks_index .deck {
  width: 450px;
  height: 200px;
  margin: 5px;
  border: 1px solid black;
  float: left;
  background: #8a64c8; }
  #decks_index .deck .deck_title {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: bold; }
  #decks_index .deck .card_count {
    height: 25px;
    text-align: center; }
  #decks_index .deck .speaker {
    position: relative;
    float: left;
    height: 0px;
    width: 0px;
    left: 410px;
    top: 5px; }
  #decks_index .deck .hide_deck {
    position: relative;
    float: left;
    height: 0px;
    width: 0px;
    left: 420px;
    top: 5px; }
  #decks_index .deck .deck_side {
    float: left;
    width: 200px;
    margin-left: 12px;
    margin-right: 12px;
    height: 120px;
    text-align: center; }
    #decks_index .deck .deck_side .deck_side_description {
      height: 25px;
      line-height: 25px; }
    #decks_index .deck .deck_side .deck_links {
      height: 80px;
      border: 1px solid;
      background: #6e41b8;
      border-radius: 5px; }
      #decks_index .deck .deck_side .deck_links a {
        color: white; }
        #decks_index .deck .deck_side .deck_links a:hover {
          background: #583492; }
    #decks_index .deck .deck_side .review_link, #decks_index .deck .deck_side .quiz_link {
      width: 98px;
      float: left;
      height: 80px;
      line-height: 80px; }
    #decks_index .deck .deck_side .quiz_link {
      border-left: 1px black solid; }

#review_message {
  border: dashed 1px blue;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px; }
