.float {
  float: left; }

.clear {
  clear: both; }

#quiz {
  margin-top: 50px;
  min-height: 600px; }
  #quiz .flip_message {
    font-size: 12px;
    text-align: center;
    font-style: italic;
    margin-bottom: 5px; }
  #quiz .quiz_card {
    height: 300px;
    width: 700px;
    border: 1px solid black;
    margin-left: 14px;
    margin-right: 14px; }
  #quiz .quiz_card_content {
    line-height: 270px;
    padding: 0;
    text-align: center;
    font-size: 40px; }
  #quiz .arrow {
    width: 100px;
    height: 100px; }
  #quiz .correct_links {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 310px;
    height: 75px; }
    #quiz .correct_links div {
      float: left;
      height: 75px;
      width: 150px;
      border: 1px solid black;
      font-size: 20px;
      line-height: 65px;
      text-align: center; }
