.index_title {
  text-align: center;
  margin-top: 10px; }

#quiz_index {
  margin-top: 20px; }
  #quiz_index .deck {
    background: #8a64c8;
    width: 450px;
    height: 200px;
    margin: 5px;
    border: 1px solid black;
    float: left; }
    #quiz_index .deck a:link, #quiz_index .deck a:visited {
      color: black; }
    #quiz_index .deck .title {
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-weight: bold; }
    #quiz_index .deck .count_and_icon {
      margin-left: auto;
      margin-right: auto;
      height: 30px;
      width: 150px; }
    #quiz_index .deck .card_count {
      text-align: center;
      font-weight: bold;
      float: left;
      width: 100px; }
    #quiz_index .deck .speaker {
      width: 20px;
      float: left; }
    #quiz_index .deck .side {
      float: left;
      width: 205px;
      text-align: center;
      padding: 10px;
      height: 110px; }
      #quiz_index .deck .side .details {
        font-size: 12px;
        float: right;
        display: none; }
      #quiz_index .deck .side:hover .details {
        display: inline; }
      #quiz_index .deck .side:hover {
        background: #6e41b8; }
      #quiz_index .deck .side .scores {
        margin-top: 30px; }
        #quiz_index .deck .side .scores .score {
          font-size: 20px;
          font-weight: bold;
          margin-top: 10px; }
