#quiz_index {
  margin-top: 20px; }
  #quiz_index .deck {
    background: #ccccff;
    width: 450px;
    height: 200px;
    margin: 5px;
    border: 1px solid black;
    float: left; }
    #quiz_index .deck a:link, #quiz_index .deck a:visited {
      color: black; }
    #quiz_index .deck .title {
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-weight: bold; }
    #quiz_index .deck .card_count {
      text-align: center;
      height: 30px;
      font-weight: bold; }
    #quiz_index .deck .side {
      float: left;
      width: 205px;
      text-align: center;
      padding: 10px;
      height: 110px; }
      #quiz_index .deck .side:hover {
        background: #b3b3ff; }
      #quiz_index .deck .side .bestworst {
        margin-top: 30px; }
        #quiz_index .deck .side .bestworst .score {
          font-size: 20px;
          font-weight: bold;
          margin-top: 10px; }
