%h1= @user.username

- @quizzes.each do |q|
  %p 
    %p=q.created_at
    =q.deck.present? ? q.deck.title : "Deck #{q.deck_id} Deleted"
    \: Got 
    =q.quiz_cards.correct.count
    out of
    =q.quiz_cards.count

