#quiz
  .flip_message
    Click Card to Flip
  .arrow.float
    =image_tag "arrow-blue-rounded-left.jpg", :width => 100, :height => 100
  .quiz_card.float
    .quiz_card_content
      to wriggle
  .arrow.float
    =image_tag "arrow-blue-rounded-right.jpg", :width => 100, :height => 100
  .clear
  .correct_links
    .correct_link
      Correct
    .incorrect_link
      Incorrect

- content_for :js do
  quiz = new NewQuiz(#{@quiz_data});
