#quiz
  .quiz_left.float
    .arrow.float
      =image_tag "arrow-blue-rounded-left.jpg", :width => 100, :height => 100
    .quiz_card.float
      .quiz_card_content
        to wriggle
  .quiz_right.float
    .arrow
      =image_tag "arrow-blue-rounded-right.jpg", :width => 100, :height => 100
    .correct_links
      .correct_link
        Correct
      .incorrect_link
        Incorrect
