#quiz_index
  - @decks.each do |deck|
    .deck
      .title=deck.title
      .side
        =link_to "#{deck.front_description} -> #{deck.back_description}", new_quiz_path(:deck_id => deck.id, :show => 'front')
      .side
        =link_to "#{deck.back_description} -> #{deck.front_description}", new_quiz_path(:deck_id => deck.id, :show => 'back')
.clear
