#quiz_index
  - @decks.each do |deck|
    .deck
      .title=deck.title
      .side
        %a{:href => new_quiz_path(:deck_id => deck.id, :show => 'front')}
          %div="#{deck.front_description} -> #{deck.back_description}"
          .mastery 
            Mastery
            .score
              =current_user.present? ? current_user.deck_mastery(deck.id, false) : 0
      .side
        %a{:href => new_quiz_path(:deck_id => deck.id, :show => 'back')}
          %div="#{deck.back_description} -> #{deck.front_description}"
          .mastery 
            Mastery
            .score
              =current_user.present? ? current_user.deck_mastery(deck.id, true) : 0
.clear
