%h1.index_title  Quiz Mode
#decks_index
  - @decks.each do |deck|
    .deck
      -if deck.has_sound?
        .speaker=image_tag "speaker.png", :width => 30, :height => 30
      .deck_title=deck.title
      .card_count="#{deck.cards.count} Cards"
      .deck_side
        .deck_side_description
          %div="#{deck.front_description}"
        .review_link
          =link_to 'Review', review_path(deck.id)
        .quiz_link
          =link_to 'Quiz', new_quiz_path(:deck_id => deck.id)
      .deck_side
        .deck_side_description
          %div="#{deck.back_description}"
        .review_link
          =link_to 'Review', review_path(deck.id, :show => 'back')
        .quiz_link
          =link_to 'Quiz', new_quiz_path(:deck_id => deck.id, :show => 'back')
.clear
