#big_card
  #big_card_value
    Front of Card

#quiz_nav
  #reveal_card_link
    %p.message 
    .big_button=link_to "Flip Card", "#"
  #correct_links_area
    %p.message Did you get it right?
    #correct_answer.big_button=link_to "Yes", "#"
    #wrong_answer.big_button=link_to "No", "#"
  #processing{:style => "display: none"}
    =image_tag("/images/ajax-loader-1.gif")

- content_for :js do
  quiz = new Quiz({
  card_path: "#{card_quiz_path(@quiz.id)}"
  });
