#game_nav{:style => "display:none"}
  Game Over:
  =link_to "Back to Decks", quiz_index_path 
  |
  =link_to "Repeat This Deck", new_quiz_path(:deck_id => @quiz.deck.id)
#font-adjuster
  %p 
    Text Size:
    =link_to_function "Bigger", "adjust_font(5)"
    |
    =link_to_function "Smaller", "adjust_font(-5)"
#card_front{:class => "card"}
  #card_front_value.card_value
#card_back{:class => "card"}
  #card_back_value.card_value
%p= link_to 'Back to Decks', quiz_index_path
- content_for :js do
  quiz = new Quiz({
  back_path: "#{card_back_quiz_path(@quiz.id)}",
  next_path: "#{next_card_quiz_path(@quiz.id)}"
  });
