#quiz_nav
  %p=link_to "Repeat Deck", new_quiz_path(:deck_id => @quiz.deck.id,  :show => @quiz.back_to_front ? "back" : "front")
#quiz_status
  %p
    Correct: 
    %span{:id => 'cards_correct'} 0
    \/
    %span{:id => 'cards_answered'} 
      =@quiz.quiz_cards.length
    , Remaining:
    %span{:id => 'cards_remaining'}
      =@quiz.quiz_cards.length
#quiz
  .flip_message
    Hover Over Card to Flip
  #left_arrow.arrow.float
    =image_tag "arrow-blue-rounded-left.jpg", :width => 100, :height => 100
  #quiz_card.float
    #quiz_card_content
  #right_arrow.arrow.float
    =image_tag "arrow-blue-rounded-right.jpg", :width => 100, :height => 100
  .clear
  .correct_links
    #correct_link
      Correct
    #incorrect_link
      Incorrect

- content_for :js do
  quiz = new Quiz(#{@quiz_data}, "#{update_quiz_card_quiz_path(@quiz.id)}");
