body
  background-color: #ECDE6A

h1
  padding: 0px
  margin: 0

#main
  width: 960px
  margin-left: auto
  margin-right: auto
  margin-top: 20px
  padding: 15px
  background-color: white

.deck-card-table
  border-collapse: collapse
  margin-bottom: 10px

.deck-card-table td
  border-style: solid
  border-width: 1px
  padding: 5px

.inline
  display: inline

.card
  min-height: 100px
  margin-top: 10px

.card_value
  margin-left: 20px
  font-size: 20px
