#quiz
  margin-top: 50px
  min-height: 400px
  .quiz_card
    height: 300px
    width: 700px
    border: 1px solid black
    margin-left: 14px
    margin-right: 14px
  .quiz_card_content
    line-height: 270px
    padding: 0
    text-align: center
    font-size: 40px
  .float
    float: left
  .arrow
    width: 100px
    height: 100px
