#quiz
  margin-top: 50px
  min-height: 400px
  padding-left: 14px
  padding-right: 14px
  .quiz_card
    height: 300px
    width: 700px
    border: 1px solid black
  .float
    float: left
  .arrow
    width: 100px
    height: 100px
