.index_title
  text-align: center
  margin-top: 10px
#decks_index
  .deck
    width: 450px
    height: 200px
    margin: 5px
    border: 1px solid black
    float: left
    background: #8A64C8
    .deck_title
      text-align: center
      height: 40px
      line-height: 40px
      font-weight: bold
    .card_count
      height: 40px
      text-align: center

#quiz_index
  margin-top: 20px
  .deck
    a:link, a:visited
      color: black
    background: #8A64C8
    width: 450px
    height: 200px
    margin: 5px
    border: 1px solid black
    float: left
    .title
      text-align: center
      height: 40px
      line-height: 40px
      font-weight: bold
    .count_and_icon
      margin-left: auto
      margin-right: auto
      height: 30px
      width: 150px
    .card_count
      text-align: center
      font-weight: bold
      float: left
      width: 100px
    .speaker
      width: 20px
      float: left
    .side
      .details
        font-size: 12px
        float: right
        display: none
        &:hover
      &:hover .details
        display: inline
      float: left
      width: 205px
      text-align: center
      padding: 10px
      height: 110px
      &:hover
        background: darken(#8A64C8, 10%)
      .scores
        margin-top: 30px
        .score
          font-size: 20px
          font-weight: bold
          margin-top: 10px
