#quiz_index
  margin-top: 20px
  .deck
    a:link, a:visited
      color: black
    background: lighten(blue, 40%)
    width: 450px
    height: 200px
    margin: 5px
    border: 1px solid black
    float: left
    .title
      text-align: center
      height: 40px
      line-height: 40px
      font-weight: bold
    .card_count
      text-align: center
      height: 30px
      font-weight: bold
    .side
      float: left
      width: 205px
      text-align: center
      padding: 10px
      height: 110px
      &:hover
        background: lighten(blue, 35%)
      .bestworst
        margin-top: 30px
        .score
          font-size: 20px
          font-weight: bold
          margin-top: 10px
